.block-wrapp
  border: 1px solid #000

.block-1, .block-2
  width: 400px
  background: #4422f4

.block-1, .block-text
  float: left
  width: 33.3%

.block-2
  float: right
  width: 33.3%

.title
  text-align: center