{% extends './layout/_layout.html' %}

{% block style %}
<style>
  .app-list {
    padding: 30px;
  }
  .app-item {
    margin-bottom: 20px;
  }
  .app-link {
    color: black;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    transition: color 0.4s, border-bottom 0.4s;
    font-size: 30px;
    font-weight: 500;
  }
  .app-link:hover {
    color: hsl(0, 93%, 47%);
    border-bottom: 2px solid hsl(0, 93%, 47%);
  }
</style>
{% endblock %}

{% set title = "Главная" %}

{% block content %}
<div class="app" id="app">

  <ul class="app-list">
    <li class="app-item"><a href="page1.html" class="app-link">PAGE__1</a></li>
  </ul>
  
</div>
{% endblock %}

{% block script %}
<script defer src="./assets/js/index.bundle.js"></script>
{% endblock %}

