{% extends './layout/_layout.html' %}

{% set title = "Главная" %}

{% block content %}
  <main>
    <div class="container">
    <h1 class="title">MAIN</h1>
    <div class="block-wrapp clearfix">
      <div class="block-1">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Eum id ad blanditiis tenetur itaque illum quam at aliquam voluptatum quisquam,
          maxime sint modi tempora recusandae ut quod maiores a sit distinctio.
          Soluta voluptatum nostrum quae natus nihil eveniet rem nulla, tempore,
          id earum tenetur officiis aliquam. Rem veniam aspernatur quos expedita omnis
          soluta officia officiis iste, repellat explicabo ratione tenetur facilis,
          consequatur at aliquam molestias doloremque tempore necessitatibus recusandae,
          odio tempora! Deserunt, error!
        </p>
      </div>
      <div class="block-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Eum id ad blanditiis tenetur itaque illum quam at aliquam voluptatum quisquam,
          maxime sint modi tempora recusandae ut quod maiores a sit distinctio.
          Soluta voluptatum nostrum quae natus nihil eveniet rem nulla, tempore,
          id earum tenetur officiis aliquam. Rem veniam aspernatur quos expedita omnis
          soluta officia officiis iste, repellat explicabo ratione tenetur facilis,
          consequatur at aliquam molestias doloremque tempore necessitatibus recusandae,
          odio tempora! Deserunt, error!
        </p>
      </div>
      <div class="block-2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Eum id ad blanditiis tenetur itaque illum quam at aliquam voluptatum quisquam,
          maxime sint modi tempora recusandae ut quod maiores a sit distinctio.
          Soluta voluptatum nostrum quae natus nihil eveniet rem nulla, tempore,
          id earum tenetur officiis aliquam. Rem veniam aspernatur quos expedita omnis
          soluta officia officiis iste, repellat explicabo ratione tenetur facilis,
          consequatur at aliquam molestias doloremque tempore necessitatibus recusandae,
          odio tempora! Deserunt, error!
        </p>
      </div>
    </div>      
    </div>
  </main>
{% endblock %}
