.wrapper
  width: 100%
  position: relative
  margin: 0 auto

.container
  max-width: 1200px
  padding: 0 15px
  margin: 0 auto

.button
  outline: transparent
  background: transparent
  cursor: pointer
  white-space: nowrap
  +tr(.3s)
